<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://localhost:8080/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://localhost:8080/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:include="navgation :: nav"></div>
<div class="jumbotron">
    <h1>500,页面出问题了！！！</h1>
    <p>程序员正在加紧就改bug</p>
</div>
</body>
</html>