<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://localhost:8080/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://localhost:8080/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://localhost:8080/js/jquery-3.4.1.min.js"></script>
    <script src="http://localhost:8080/js/cookie.js"></script>
    <script src="http://localhost:8080/js/bootstrap.min.js" ></script>
    <script src="http://localhost:8080/js/common.js"></script>
    <link href="http://localhost:8080/css/local.css" rel="stylesheet">
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
</head>
<body>
<div th:include="navgation :: nav"></div>
<div class="main">
    <div class="bgc-white">
        <div class="row height100">
            <div class="col-lg-9 question-padding" id="left">
                <form action="/publis" method="post">
                    <div v-if="tf">
                        <input type="hidden" v-model="question_info.id" name="id">
                    </div>
                    <h2><span class="glyphicon glyphicon glyphicon-asterisk" aria-hidden="true">发起</span></h2>
                    </hr>
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）</label>
                        <input type="text" class="form-control input-Frame" id="title" name="title" placeholder="问题标题" v-model="question_info.title">
                    </div>
                    <div class="form-group">
                        <label for="description">问题标题（简单扼要）</label>
                        <textarea class="form-control" rows="10" name="description" id="description" v-model="question_info.description"
                                  style="display: none"></textarea>
                        <div id="editor"></div>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control input-Frame" name="tag"  id="tag" placeholder="添加标签" v-model="question_info.tag" autocomplete="off">
                    </div>
                    <ul class="list-group hide" id="label" style="width: 20%">
                        <li class="list-group-item">
                            <a label-a>java</a>
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <button type="submit" class="btn btn-success floa`t-R">提交</button>
                </form>

            </div>
            <div class="col-lg-3">
                <div>
                    元素的水平方向浮动，意味着元素只能左右移动而不能上下移动。

                    一个浮动元素会尽量向左或向右移动，直到它的外边缘碰到包含框或另一个浮动框的边框为止。

                    浮动元素之后的元素将围绕它。

                    浮动元素之前的元素将不会受到影响。

                    如果图像是右浮动，下面的文本流将环绕在它左边：
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script th:inline="javascript">
    var question_info = [[${question_info}]];
    if(question_info==null){
        question_info = "";
    }
    var question = new Vue({
        el:"#left",
        data:{
            question_info:question_info,
            tf:[[${tf}]]
        }
    });
</script>
<script>
    $(function () {
        $("#tag").click(function () {
            $("#label").removeClass("hide");
        });
        $("#label").mouseleave(function () {
            $("#label").addClass("hide");
        });
        labelMoveInto();
    });
    function labelMoveInto() {
        $(".list-group-item").mouseover(function () {
            $(this).css("background-color","#e8e8e8")
        });
        $(".list-group-item").mouseleave(function () {
            $(".list-group-item").css("background-color","#fff")
        });
    }

</script>
<!--富文本start-->
<script>
    var E = window.wangEditor
    var editor = new E('#editor')
    var $descrition = $("#description")
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $descrition.val(html)
    }
    editor.customConfig.uploadImgServer = '/uploadImage'
    editor.customConfig.showLinkImg = false
    //文件名称
    editor.customConfig.uploadFileName='file'
    editor.create();
    function f() {
        console.log($("#descrition").val())
    }
    $(".w-e-text-container").css({"height":"auto","min-height":"300px"});
</script>
<!--富文本end-->
</body>
</html>