<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="css/local.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script src="http://localhost:8080/js/common.js"></script>
</head>
<body>
<!--<div id="editor"></div>-->
<!--<textarea id="descrition" name="descrition" style="display: none"></textarea>-->
<!--<span onclick="f()">获取内容</span>-->
<input type="text" id="input" oninput="tagInfo()">
<script>
    var E = window.wangEditor
    var editor = new E('#editor')
    var $descrition = $("#descrition")
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $descrition.val(html)
    }
    editor.customConfig.uploadImgServer = '/uploadImage'
    editor.customConfig.showLinkImg = false
    //文件名称
    editor.customConfig.uploadFileName='file'
    editor.create();
    function f() {
        console.log($("#descrition").val())
    }
</script>
<script>
function tagInfo() {
    var a = $("#input").val().replace(/'/g,'');
    console.log(a);
}
</script>
</body>
</html>